.wrapper {
    background-color: var(--themeDarkAlt);
    display: flex;
    justify-content: center;
    padding: 5px;
    z-index: var(--zIdxFooter);
    height: calc(10px + 1rem);
    margin-top: 1rem;
}