.header {
    background-color: var(--themeDarkAlt);
    padding: var(--headerYPaddings) 15px;
    width: 100vw;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: calc(var(--profilePicWidth) + var(--iconWidth) + 20px);
    min-height: var(--headerHeight);
    max-height: var(--headerHeight);
}


/* << */

.icon {
    display: flex;
    align-items: center;
}

.icon>a>img {
    width: var(--iconWidth);
    display: flex;
}


/* >> */


/* Notification */

.notification {
    position: relative;
    padding: 6px;
}

.notification[notify] {
    cursor: pointer;
}

.notification>i {
    color: var(--themeLight);
}

.notification[notify]>i {
    color: var(--white);
}

.notification>div {
    /* color: var(--themeDarkAlt); */
    color: var(--white);
    height: 14px;
    width: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--extraTertiary);
    border-radius: 50%;
    font-size: 60%;
    font-weight: 900;
    display: grid;
    text-align: center;
    align-items: center;
}


/* Profile picture and dropdown */

.userImage {
    align-items: center;
    height: var(--profilePicWidth);
    width: calc(var(--profilePicWidth) + 15px);
    position: relative;
    cursor: pointer;
}

.userImage:hover,
.userImage:focus,
.notification[notify]:hover,
.notification[notify]:focus {
    outline: 2px solid var(--themePrimary);
    outline-offset: 3px;
    /* outline-style: ; */
    filter: brightness(1.2);
}

.userImage>img {
    height: var(--profilePicWidth);
    width: var(--profilePicWidth);
    border-radius: 50%;
    border: 1px solid var(--themeDarkAlt);
}

.userImage::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    border: 6px solid transparent;
    border-top-color: var(--white);
}


/* Profile */

.showProfileMenu,
.userProfileMenu {
    display: none;
}

.userProfileMenu {
    background-color: var(--themeLighter);
    border: 1px solid var(--themeDarkAlt);
    border-radius: 2px;
    width: 200px;
    position: absolute;
    top: var(--headerHeight);
    right: 0;
}

.userProfileMenu>ul {
    list-style: none;
}

.userInfo {
    border-bottom: 1px solid var(--themeDarkAlt);
    padding: 0.2rem 1rem;
}

.userMenu {
    background-color: var(--themeLighter);
}

.userMenu ul {
    list-style: none;
}

.userMenu li {
    padding: 0.3rem 1rem;
}

.userMenu li:hover {
    background-color: var(--themeLighterAlt);
}


/* >> Login*/

.loginGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sign {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: 1px solid var(--white);
}