.wrapper {
    font-size: medium;
    min-width: 240px;
    max-width: 240px;
    background-color: var(--themeDarkAlt);
    border-right: 2px solid var(--themeLight);
    display: flex;
}

.wrapper button {
    box-sizing: border-box
}

.linkContainer,
.profile {
    cursor: pointer;
}

.wrapper>nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: .5rem;
}

.header,
.user {
    flex: 0 0 auto;
}

.main {
    flex: 1 1 auto;
    gap: .5em;
    display: flex;
    flex-direction: column;
}

.notifications.add:hover>button,
.profile:hover,
.linkContainer:hover>.link {
    background-color: var(--themeSecondary);
}

.notifications>button,
.main div {
    font-weight: 700;
    padding: 1em;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 1em;
    width: min-content;
}


/* ------------------------------ 
-------------HEADER--------------
------------------------------ */

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header>h2 {
    font-size: large;
    font-weight: 700;
    color: var(--extraLighterAlt);
}

.menuToggle  {
    display: none;
}

/* ------------------------------ 
-----------NAVIGATION------------
------------------------------ */

.main {
    overflow-y: scroll;
    border-bottom: 1px solid var(--themeLight);
}

.link {
    text-transform: capitalize;
}

.link.select {
    background-color: var(--themeDark);
}


/* ------------------------------ 
----------------USER-------------
------------------------------ */

.notifications {
    border-radius: 2rem;
    opacity: .5;
}

.notifications.add {
    cursor: pointer;
    opacity: 1;
}

.profile {
    display: flex;
    gap: .5rem;
    align-items: center;
    width: 100%;
    padding: .5rem;
    border-radius: 2rem;
}

.profile>span {
    font-size: medium;
    text-overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
}

.profile>img {
    border-radius: 50%;
}

.notifications>button>i {
    position: relative;
}

.newNotify {
    right: -0.5em;
    top: -.5em;
    transform: scale(.6);
}

.connecting {
    overflow: hidden;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .wrapper {
        min-width: fit-content;
        max-width: fit-content;
        border-right: none;
        border-bottom: 1px solid var(--themeLight);
    }
    .wrapper>a {
        align-items: center;
        justify-items: center;
    }
    
    .wrapper svg {
        width: 1em;
    }

    .profile ,
    .header {
        justify-content: center;
    }

    .wrapper span,
    .header>h2,
    .profile>span,
    .profile>svg {
        display: none;
    }

    .notifications .iconNotify {
        display: inline-block ;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        border-right: none;
        border-bottom: 2px solid var(--themeLight);
    }
    
    .wrapper .main {
        overflow: visible;
        align-items: center;
    }

    .wrapper.closed .main,
    .wrapper.closed .user {
        display: none;
    }

    .menuToggle {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 36px;
        aspect-ratio: 1;
        align-items: center;
    }
}