.profileWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    padding: 1em 0em;
}

.profileWrapper > div > img {
    border-radius: 50%;
}

.email {
    margin-bottom: 1rem;
    font-size: 1.3em;
}

.date {
    padding: 0.5rem 0rem;
}

/* ------------ */

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formWrapper > h3 {
    justify-self: left;
    padding-left: 0;
}

.infoWrapper {
    margin: 0 auto;
}

.form,
.infoWrapper {
    border-radius: 1rem;
    width: 100%;
    max-width: 600px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1em 0em 2em;
}

.info>span {
    padding: 1em 1em;
    border-top: 1px solid var(--neutralPrimary);
}

.info .date {
    display: none;
}

.form > div {
    display: flex;
    flex-direction: column;
}

.form > div > label {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.form > div > input,
.form > div > select,
.form > div > button {
    margin: 0.5rem;
    background-color: var(--neutralPrimary);
    padding: 0.5rem;
    border-color: var(--neutralPrimaryAlt);
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.form button {
    text-align: center;
} 

.form button:hover,
.form button:focus {
    filter: brightness(1.2);
}

.form button:disabled {
    filter: brightness(.5);
}

@media screen and (max-width: 500px) {
    .profileWrapper {
        flex-direction: column;
        gap: .5em;
    }

    .profileText {
        text-align: center;
    }

    .profileText .date {
        display: none;
    }

    .info .date {
        display: block;
    }
}