.wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content {
    display: flex;
    overflow-x: auto;
}

.content>main {
    background-color: (--black);
}

.content>nav,
.content>main {
    overflow-y: scroll;
    flex: 1 auto;
    min-height: calc( 100vh - var(--headerHeight) - var(--headerYPaddings) * 2 - 1rem - 10px);
    max-height: calc( 100vh - var(--headerHeight) - var(--headerYPaddings) * 2 - 1rem - 10px);
}