.wrapper {
  /* display: none; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--zIdxPopup);

  overflow: visible;

  pointer-events: none;
}

.block {
  pointer-events: all;
}

.blur {
  backdrop-filter: blur(1px);
}

.darken {
  background-color: rgba(0, 0, 0, 0.4);
}
