:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  /* === Theme variables === */
  /* Main */
  --themeDarker: #020202;
  --themeDark: #080808;
  --themeDarkAlt: #1f1f1f;
  --themePrimary: #333;
  --themeSecondary: #2d2d2d;
  --themeTertiary: #1f1f1f;
  --themeLight: #474747;
  --themeLighter: #646464;
  --themeLighterAlt: #8d8d8d;
  /* Foreground */
  --black: #020202;
  --neutralDark: #050505;
  --neutralPrimary: #323130;
  --neutralPrimaryAlt: #8d8b8a;
  --neutralSecondary: #a3a2a0;
  --neutralTertiary: #bab8b7;
  --white: #f0f0f0;
  /* More */
  --neutralTertiaryAlt: #f7f7fd;
  /* --neutralDark: #605e5d; */
  --neutralQuaternaryAlt: #f5f5fd;
  --neutralLight: #f4f4fd;
  --neutralLighter: #f3f3fd;
  --neutralLighterAlt: #f3f3fd;
  /* Extra theme color  */
  --extraDarker: #04040a;
  --extraDark: #100f29;
  --extraDarkAlt: #1d1c4d;
  --extraPrimary: #3a3799;
  --extraSecondary: #5651e0;
  --extraTertiary: #635dff;
  --extraLight: #716cff;
  --extraLighter: #8783ff;
  --extraLighterAlt: #a7a4ff;
  --extraWhite: #e7e4ff;
  /* Extra color */
  --errorColor: #eb505a;
  --warningColor: #f5b700;
  /* Activity in scheldue colors */
  --activityTraining: var(--extraSecondary);
  --activityTournament: #b65e5e;
  --activityLeague: #b59545;
  --activityTactics: var(--extraTertiary);
  --activityMedical: #a0182d;
  --activityMeeting: #ce3a13;
  /*=== Header sizes ===*/
  --headerMaxWidth: 800px;
  --profilePicWidth: 32px;
  --iconWidth: 2.5rem;
  --headerYPaddings: 2px;
  --headerHeight: 3rem;
  --navWidth: 10rem;
  --navHeight: calc(100vh - var(--headerHeight) - calc(10px + 1rem));
  --navHeight: calc(100dvh - var(--headerHeight) - calc(10px + 1rem));
  /*=== Layout sizes ===*/
  --paddingWizButton: 50px;
  /*=== Media queries ===*/
  --mqMobile: 600px;
  --mqTablet: 900px;
  --mqDesktop: 1255px;
  /*=== Font Sizes ===*/
  --fSizeProfile: 1rem;
  --fSizeNav: 1.2rem;
  --fSizeBody: 1rem;
  --breakpoint: 768px;
  /* ==== Elements Z-index ==== */
  --zIdxNormal: 1;
  --zIdxTabHeader: calc(var(--zIdxNormal) + 1);
  --zIdxFooter: calc(var(--zIdxTabHeader) + 1);
  --zIdxPopupWrap: calc(var(--zIdxFooter) + 1);
  --zIdxPopup: calc(var(--zIdxPopupWrap) + 1);
  --zIdxMax: calc(var(--zIdxPopupWrap) + 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--white);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  text-decoration-color: var(--white);
}

a {
  /* color: inherit; */
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

/* */
.dashboard-content-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: .75rem;
}

/* Buttons  */

.global-button.border-remove {
  border: 2px solid var(--errorColor);
}

.global-button.border-disabled {
  border: 2px solid var(--neutralPrimaryAlt);
  color: var(--neutralPrimaryAlt);
}

.global-button.border-normal {
  border: 2px solid var(--extraLighterAlt);
}

.global-button {
  padding: .5rem;
  border-radius: 1rem;
  height: min-content;
  width: 8ch;
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: small;
}

.global-button:hover,
.global-button:focus {
  filter: brightness(.7);
}

label.global-button {
  width: calc(8ch + 1.2rem);
}


/*
------------------------------------------
*/

body {
  background-color: var(--black);
}

main {
  background-color: var(--black);
}