@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");
*:root {
  /* --swag: #A59678; */
  --swag: var(--extraLighter);
  --light: #f2e9e4;
  --dark: #6f737f;
  --lightbg: #f8f4f1;
}

html[data-theme="light"] h1 .text-light {
  color: hsl(21, 35%, 55%);
}

.about button {
  all: unset;
  cursor: pointer;
}

.about a {
  text-decoration: none;
  color: inherit;
}

.about img {
  max-width: 100%;
}

.about {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

/* Typography + font coloring*/
.about h1,
.about h2,
.about h3,
.about h4,
.about h5 {
  font-family: "Oswald", sans-serif;
  color: var(--swag);
}

.about button {
  font-family: "Oswald", sans-serif;
}

.footer a {
  font-family: "Monserrat", sans-serif;
}

.header h1 {
  font-size: 3rem;
}

.header,
.footer h2 {
  font-size: 1.5rem;
}

.footer h3 {
  font-size: 1.2rem;
}

.about nav a {
  font-size: 1.1rem;
}

.footer a {
  font-size: 1rem;
}

.text-light {
  color: var(--light);
}

.footer p,
.footer a {
  color: var(--dark);
}

.about nav {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* Section coloring */
.about nav {
  background-color: #2e323f;
}

.header,
.footer,
.dark {
  background-color: var(--themePrimary);
}
.more {
  background-color: var(--themeLight);
}

.header {
  color: var(--light);
}

.about a:hover,
.about a:focus,
.about button:hover .about button:focus {
  opacity: 0.7;
}

/* Basics layout */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
}

.header,
.more,
.main,
.footer {
  padding: 2em 1em;
}

.more-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header p,
.main p {
  padding: 1em 0;
}

.about aside {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main .dark {
  padding: 0.5em;
  text-align: center;
}

.footer h2 {
  padding-bottom: 1.5em;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-flex li {
  padding: 0.5em;
}

.footer-flex p {
  padding: 0.5em 0;
}

/* Navigation */
.about nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.about nav li {
  padding: 0.75em 1em;
}

.about button,
.about .link-button {
  padding: 0.25em 1em;
  background-color: #a59678;
  border-radius: 2em;
  color: var(--light);
  max-width: fit-content;
}

@media screen and (min-width: 600px) {
  .about nav .container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .about nav .container div:first-child {
    padding: 1em;
  }

  .about .container h1 {
    width: 60%;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
  }

  .list-primary,
  .list-secondary {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
  }

  .about aside {
    flex-direction: row;
  }

  .more-container {
    flex-direction: row;
    gap: 2.5em;
  }

  .footer h2 {
    text-align: center;
    font-size: 2rem;
  }

  .footer-flex {
    gap: 4em;
  }

  .footer-flex > div {
    flex: 1;
  }

  .footer-flex li {
    padding-left: 0;
  }
  .footer-flex > div:first-of-type {
    flex: 2.5;
  }
}

@media screen and (min-width: 1000px) {
  .about aside {
    flex-direction: column;
    width: 30%;
  }
  .content {
    width: 60%;
  }

  .main .container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 10%;
  }
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
  }

  .header .container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header h1 {
    flex: 1;
    font-size: 4.5rem;
  }
}
