.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0.8;
  padding: 0.5rem;
}

.empty {
  padding: 1rem;
  text-align: center;
  font-size: larger;
  font-weight: 700;
  color: var(--themeLight);
  opacity: 0.7;
}
