.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.wrapperWizButton {
  padding-right: var(--paddingWizButton);
}

.container {
  padding: 0.5em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
  border-radius: 1em;
  display: flex;
}

.card > a {
  padding: 0.75em;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.card:hover {
  background-color: var(--themeSecondary);
}

.card div,
.card p,
.card h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  border-radius: 50%;
}

.card h2 {
  padding-bottom: 0.5em;
}

/*---*/

.stats {
  display: flex;
  gap: 0.5em;
  justify-content: space-evenly;
}

.stats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.statsLabel {
  font-weight: 700;
  text-align: center;
  filter: brightness(0.5);
}

.icon > span {
  padding-left: 0.5em;
}
