/* Style for */
.MuiInputBase-input,
.MuiButtonBase-root,
.MuiDayCalendar-header>span {
  color: var(--white) !important;
}

.MuiDayCalendar-header>span {
  font-weight: bold;
}

.MuiDateCalendar-root,
.MuiPickersSlideTransition-root,
.MuiPickersToolbar-root,
.MuiDialogActions-root {
  background-color: var(--themeSecondary);
}

.MuiPaper-root {
  box-shadow: 0px 0px 5px 1px var(--white) !important;
}

.MuiTypography-overline {
  color: var(--white) !important;
  opacity: .5;
}

.MuiInputBase-input {
  font-size: larger !important;
  padding: .5rem 1rem !important;
}

.MuiDateCalendar-root {
  font-size: larger !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.MuiPickersYear-yearButton,
.MuiPickersMonth-monthButton,
.MuiPickersDay-dayButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiPickersYear-yearButton:hover,
.MuiPickersMonth-monthButton:hover,
.MuiPickersDay-dayButton:hover,
.MuiPickersDay-root:hover {
  background-color: var(--extraSecondary) !important;
}

.Mui-disabled {
  opacity: .5;
}

.Mui-selected {
  background-color: var(--extraPrimary) !important;
}

.MuiPickersDay-today {
  border: 1px solid var(--extraSecondary) !important;
}


/* Custom date picker button styles */

.MuiButton-root {
  color: var(--white) !important;
  border: 1px solid var(--white) !important;
}


/* --- Form --- */

.form .MuiDayCalendar-header>span {
  font-weight: bold;
}

.form .MuiFormControl-root {
  background-color: var(--neutralPrimary);
  border-radius: 0.5rem;
  margin: .5rem;
  border: 2px outset var(--neutralPrimaryAlt);
}