.wrapper {
  display: flex;
  flex-direction: column;
}

.post {
  padding: 1em 0;
}

.post:first-of-type {
  padding-top: 0;
}

.post + .post {
  border-top: 1px solid var(--neutralPrimaryAlt);
}

.header h2 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.header span {
  opacity: 0.6;
  font-size: small;
}

.message {
  padding: 0.5em;
}

.message {
  text-align: justify;
}
